/* style.css
 *
 * Copyright 2025 Tanmay Patil <tanmaynpatil105@gmail.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

/* stores <pre> + <copy-button> */
.container {
	position: relative;
	display: inline-block;
	width: auto;
}

.copy-button {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
